@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@500&display=swap');

:root{
    
    --color-succeed: #6DBC4E;
    --color-fail: #EA3546;
   
    --color-base-body: #F0C808;
    --color-base-title: #564592;
    --color-base-btnmodal:#BEB0A7;
    --color-base-button: #218380;
    --color-secondary-button: #218380;
    --color-base-outMovie: #496DDB;
    --color-base-outMovie-btn: #CEF9F2;
    --color-base-greater: #45C456;
    --color-base-less: #F05365;
    --color-base-equal: #6E7387;
    --color-base-figure: #F7FFF7;
    --color-base-figurecaption: #EBE536;
    --color-base-btnFigure: #C490D1;
    --color-base-buttonGameResult: #AFC1D6;
    --color-secondary-buttonGameResult: #905157;
    --color-base-posterBack: #ACACDE;
    --color-secondary-posterBack: #A76295;
    --color-title-posterBack: #41999F;
    --color-primary-director: #6E46C3;
    --color-secondary-director: #892F45;


    --font-base-form: 'Palanquin Dark', sans-serif;
    --font-base-outMovie: 'K2D', sans-serif;
    --font-base-button: 'Ruda', sans-serif;

}

body{
    background-color: var(--color-base-body);
    margin: 0px;
}

button{
    font-family: var(--font-base-button);
    color: white;
    font-weight: 500 ;
    font-size: 1.13em;
    cursor: pointer;
}

#form{
    margin: 20px;
    margin-bottom: 11em;
    height: 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formFlex{
    font-family: var(--font-base-form);
    width: 40em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#formFlex>h1{
    color: var(--color-base-title);
    display: inline-block;
    font-size: 3em;
}

.btn-modal{
    margin: 50px;
    width: 70px;
    height: 40px;
    padding: 10px 25px;
    border-radius: 4px;
    background-color: var(--color-base-btnmodal);
    cursor: pointer;
}

.windowModal{
    background-color: rgba(0, 0, 0, 0.762);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    align-items: center;
    justify-content: center;
    font-family: var(--font-base-form);
    font-size: 1.2em;
}


.close{
    position: absolute;
    top: -10px;
    right: -14px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: orange;
    color: white;
    font-size: 1.3em;
    cursor: pointer;
    
}

.modal{
    width: 80%;
    min-width: 450px;
    min-height: 200px;
    background-color: rgba(255, 255, 255, 0.637);
    backdrop-filter: blur(10px);
    padding:  30px;
    border-radius: 4px;
    display: none;
    flex-wrap: wrap;
}

.modal span{
    margin-right: 20px;
}


#formFlex img{
    height: 18px;
    width: 18px;
    
}

.break{
    flex-basis: 100%;
}

#formFlex>#btn-submit{
    margin-top: 50px;
    background-color: var(--color-secondary-button);
    border: none;
    padding: 10px 25px;
    border-radius: 4px;
}

#formFlex>button:hover{
    letter-spacing: 1.5px;
    box-shadow: 6.5px 7px 1px rgba(0,0,0,0.8);
    transition-duration: .5s;
}

#div-Result{
    display: none;
    background-color: var(--color-base-outMovie);
}
#outMovie{
    padding: 6px;
    margin-top: 50px;
    border-radius: 4px;
    font-family: var(--font-base-outMovie);
    width: 33em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-content: center;
}

.ratting{
    color: var(--color-base-figure);
    text-decoration: underline;
}

#button>button{
    padding: 10px 40px;
    margin: 15px 20px;
    background-color: var(--color-base-outMovie-btn);
    border: none;
    color: black;
    border-radius: 5px;
    font-size: 1em;
}

#data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn-greater:hover{
    background-color: var(--color-base-greater);
    transition-duration: .5s;
}

#btn-equal:hover{
    background-color: var(--color-base-equal);
    transition-duration: .5s;
}

#btn-less:hover{
    background-color: var(--color-base-less);
    transition-duration: .5s;
}

#movie{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 20em;
    align-items: center;
}

#outMovie figure{
    background-color: var(--color-base-figure);
    margin-top: 25px;
    padding: 0px 50px;
    border-radius: 5px;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#outMovie figcaption{
    text-align: center;
    font-weight: bold;
    color: var(--color-base-figurecaption);
}

#movie>button{
    background-color: var(--color-base-btnFigure);
    border: none;
    margin-top: 60px;
    width: 63%;
    padding: 12px 5px;
    border-radius: 4px;
    margin-bottom: 20px;
}

#movie>button:hover{
    width: 70%;
    letter-spacing: 1.5px;
    box-shadow: 6.5px 7px 1px rgba(0,0,0,0.8);
    transition-duration: .5s;
}

#game-result{
    display: none;
    flex-wrap: wrap;
    width: 14em;
    align-items: center;
    justify-content: center;

}
#imdb-logo{
    width: 50px;
    height: 55px;
    margin-right: 15px;
}

#game-result>#restart{
    margin: 15px 20px;
    border-radius: 4px; 
    padding: 15px 30px; 
    background-color: var(--color-base-buttonGameResult);
    border: none;
    outline: none;
    color: black;
}

#game-result>#restart:hover{
    letter-spacing: 1.5px;
    box-shadow: 6.5px 7px 1px rgba(0,0,0,0.8);
    transition-duration: .5s;
}

#poster{
    width: 300px;
    height: 450px;
    max-height: 450px;
    position: relative;
    transition: transform .75s;
    transform-style: preserve-3d;
    perspective: 600px;
}

.flip{
    transform: rotateY(180deg)
}


#posterFront{
    position: absolute;
    height: 100%;
    width: 100%;
    
}

#posterBack{
    box-sizing: border-box;
    overflow: hidden;
    
    max-height: 500px;
    padding: 20px;
    position: absolute;
    transform: rotateY(180deg);
    background-color: var(--color-base-posterBack);
    color: var(--color-secondary-posterBack);
}
#posterBack>h3,#posterBack>p{
    display: inline-block;
    margin: 5px;
}

#posterBack>h3{
    color: var(--color-title-posterBack);
    margin: 9px;
}

.hide{
    backface-visibility: hidden;
}

.director{
    font-weight: bold;
    color: var(--color-secondary-director);
    text-shadow: 0 0 5px #fff,
                 0 0 10px #fff, 
                 0 0 20px var(--color-primary-director), 
                 0 0 30px  var(--color-primary-director), 
                 0 0 40px  var(--color-primary-director), 
                 0 0 55px  var(--color-primary-director), 
                 0 0 60px  var(--color-primary-director);
}

#modalInfor {
    display: none;
}

.open{
    display: flex;
}